<!-- filename: templates/simple_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用Flask-WTF构建表单</title>
</head>
<body>
    <div>
        <form method="post">
            {{ form.csrf_token }}
            {{ form.username.label }}<br>{{ form.username }}<br>
            {{ form.password.label }}<br>{{ form.password }}<br>
            {{ form.remember }}<br>{{ form.remember.label }}<br>
            {{ form.submit }}<br>
        </form>
    </div>
</body>
</html>